* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: #111;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
}

.sidebar h1 {
    margin-bottom: 30px;
}

.sidebar h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #00aaff;
    text-transform: uppercase;
}

.sidebar a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.2s;
}

.sidebar a:hover {
    background: #222;
    color: #00aaff;
}

.sidebar a.active {
    background: #2d3748 !important;
    color: #fff;
    border-left: 4px solid #4f9cff;
    font-weight: 600;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}


.sidebar::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;

}

.content {
    margin-left: 250px;
    padding: 40px;
    width: 100%;
}

#content {
    max-width: 900px;
    line-height: 1.7;
}